{% extends "waimea_flux/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <style media="screen">

    .collapsible {
      background-color: rgba(218, 112, 214, 1);
      color: black;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      margin-bottom: 10px;
    }


    .active, .collapsible:hover {
      background-color: rgba(218, 112, 214, 1);
    }


    .content {
      padding: 18px 18px;
      display: none;
      overflow: hidden;
      background-color: rgba(218, 112, 214, 1);
      margin-bottom: 10px;
      margin-top: 10px; 
    }
  </style>


  <h1>Frequently Asked Questions</h1>
  <button type="button" class="collapsible">What are the sources of Data?</button>
    <div class="content">
      <p>The Rainfall and AET data are from the Rainfall Atlas of Hawaii. The DEM and Geology is from the USGS.</p>
    </div>
  <button type="button" class="collapsible">What sections of the form are required?</button>
    <div class="content">
      <p>Only the Sample ID, the location and the date is required. </p>
    </div>
  <button type="button" class="collapsible">Why are there not more options of data input?</button>
    <div class="content">
      <p>I chose the more common and prevalent anions and cation for the island. This way the form is not to long but gives a good understanding of the water chemistry in the islands streams.</p>
    </div>
  <button type="button" class="collapsible">What do I right in the notes?</button>
    <div class="content">
      <p>Any field notes you had when collecting the water. For example it was raining at the time or the water was standing.</p>
    </div>





<script type="text/javascript">
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  }
</script>

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
  <!-- Example Modal -->
  <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h5 class="modal-title" id="help-modal-label">Example Modal</h5>
        </div>
        <div class="modal-body">
          <p>You can add custom buttons to the app header using the <code>header_buttons</code> block. Use anchor/link tags for the button and wrap it in a div with the class <code>header-button</code>. For buttons with the gliphyicons, add the <code>glyphicon-button</code> class as well.</p>
          <p>Ever have trouble using a modal in a Tethys app? Use the <code>after_app_content</code> block for modal content to allow them to function properly. See: <a href="https://getbootstrap.com/javascript/#modals">Bootstrap Modals</a></p>
          <p>Add tooltips to any element by adding the <code>data-toggle</code>, <code>data-placement</code>, and <code>title</code> attributes to the button. See: <a href="https://getbootstrap.com/javascript/#tooltips">Bootstrap Tooltips</a></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block app_actions %}
{% endblock %}
